:root {
    --token-font-family-sans: system-ui, -apple-system, "Segoe UI", sans-serif;
    --token-radius-2xs: 6px;
    --token-radius-xs: 7px;
    --token-radius-sm: 8px;
    --token-radius-md: 10px;
    --token-radius-lg: 12px;
    --token-radius-xl: 14px;
    --token-radius-pill: 999px;
}
